# Entorno virtual (no subir)
venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos ocultos de macOS
.DS_Store

# Archivos de entorno
.env

# Archivos de IDE
.vscode/
.idea/

# Archivos de caché
*.log
*.pot
*.pyc
__pycache__/
.pytest_cache/

# Archivos de base de datos local
*.db
*.sqlite3
